.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(208, 206, 206);
}

form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(146, 145, 145);
  border-radius: 10px;
}

h1 {
  padding: 5px;
  font-size: 45px;
  text-decoration: underline;
}

.ui.form {
  align-items: center;
  justify-content: center;
  padding: 20px 41px;
  width: 95%;
}

.field {
  display: flex;
  padding: 5px 50px;
  font-size: 25px;
  flex-direction: column;
}

label {
  font-size: 33px;
  padding: 10px 0px;
}

input {
  padding: 15px;
  border-radius: 10px;
  font-size: 25px;
  border: 0.5 solid gray;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin-left: 40%;
  font-size: 25px;
  font-weight: bold;
  width: 140px;
  margin-top: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgb(26, 26, 27);
  color: aliceblue;
}

button:hover {
  background-color: aliceblue;
  color: rgb(26, 26, 27);
}
